@page {
    margin: 2cm 2cm; 
    @top-center {
        content: "{{MainTitle}}";
        vertical-align: middle;
        color:#3c3c3c;
    }
    @bottom-right {
		font-size: 12px;
		color:#3c3c3c;
        content: "Page {{Page}}" 
    }
    @bottom-left {
		font-size: 12px;
		color:#3c3c3c;
        content: "Sébastien Tiphaine 2018 - sebastien@laguitare.ch - https://laguitare.ch"; 
    }
    @left-top {}
}
		
html {
	color:#3c3c3c;
	font-family: Roboto, Verdana, FreeSans, Sans;
}

.maincontainer {
	font-family: Roboto, Verdana, FreeSans, Sans;
	text-align: center;
	margin: auto;
	width: 80%;
	font-size: 20px;
	font-weight: 400;
	color:#bc3315;
}
